body {
    background-color: peachpuff;
}

.heading {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

.card {
    width: 30rem;
    height: 30rem;
    background: lightblue;
    border: 4px black;
    border-radius: 10%;
    display: flex;
    margin: 2rem;
    border: 2px solid black;
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 3px 3px 5px 4px black;
}
.image
 {
    width: 80%;
    height: 60%;
    align-items: center;
}

.text {
    
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}