body {
    background-color: peachpuff;
}

.heading {
    text-align: center;
    font-size: 3rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
      
}

.card {
    width: 20%;
    height: 30rem;
    background: lightblue;
    border-radius: 3rem;
    display: flex;
    margin: 2rem;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 3px 3px 5px 4px black;
}

.image, .image2, .image3 {
    width: 80%;
    height: 60%;
    align-items: center;
}

#text {
    font-size: 2.5rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

.image2:hover {
    transform: matrix(1, 2, 2, 1, 2, 1);
    transition: 0.3s;
}

.image3:hover {
    animation: jumping 3s ease;
    animation-iteration-count: 1;
}

@keyframes jumping {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,-50px);}
    100% {transform: translate(0,0);}
}

.card:hover {
    transform: scale(1.1) translateY(-10px);
    transition: 1s;
}

h1:hover {
    transform: rotate(1turn);
    transition: 0.4s;
}

h2:hover {
    transform: skew(10deg, 20deg);
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: row;
        align-items: center;   
    }
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;    
    }
    .card {
        width: 80%;
    }
}



